# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 4
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    excludePaths:
        - %currentWorkingDirectory%/tests/*
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    parallel:
		processTimeout: 300.0
		jobSize: 10
		maximumNumberOfProcesses: 4
		minimumNumberOfJobsPerProcess: 4
    includes:
        - vendor/phpstan/phpstan-strict-rules/rules.neon
        - vendor/phpstan/phpstan-phpunit/extension.neon
        - vendor/phpstan/phpstan-phpunit/rules.neon
        - vendor/phpstan/phpstan-deprecation-rules/rules.neon
